body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-wrapper {
  background-color: #2c3139;
}
.change-lang {
  color: white;
  font-weight: bold;
}

#search-inp {
  background-color: #2c3139;
  border: 1px solid white;
  color: white;
}

.main-img img {
  max-width: 100%;
}

.section-block {
  padding: 10px 30px;
}
.sect-list {
  list-style-type: none;
}
.sect-list a {
  text-decoration: none;
  color: black;
}
.sect-list span {
  display: block;
}
.product-section {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 30px;
}

.product-container {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid black;
}
.product-img {
  padding: 15px;
  max-width: 500px;
}
.product-container span {
  display: block;
  color: black;
  font-weight: bold;
}
.add-to-cart {
  display: block;
  padding: 10px 20px;
  border: 1px solid #b21751;
  border-radius: 50px;
  background-color: white;
}
.sort select {
  background-color: white;
  border: none;
  font-weight: normal;
}
.sort label {
  font-weight: normal;
}
