body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-wrapper {
  background-color: #2c3139;
}
.change-lang {
  color: white;
  font-weight: bold;
}

#search-inp {
  background-color: #2c3139;
  border: 1px solid white;
  color: white;
}
